*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Barlow", sans-serif;
      /*  font-family: "Fraunces", serif; */
   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    
}

a{
    color:white;
    text-decoration: none;
}
.contact{
background-color: white;
border-radius: 20px;
color: hsl(212,27%,19%);
text-transform: uppercase;
padding: 10px 15px;
font-weight: 700;
 font-family: "Fraunces", serif;
}
.navLinks{
    display: none;
    
}
.icon{
    color: white;
}

.creative{
   text-transform:uppercase ;
   text-align: center;
   color: white;
    font-family: "Fraunces", serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
    letter-spacing: 0.5rem;
}
.heroSection img{
    display: block;
    margin: auto;
    padding-bottom: 10rem;
}
.firstSection{
    background-image: url(images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start; /* Align items at the top */
    height: auto;
    gap: 0; /* No gap between text and image */
}

.transform {
    background-color: white;
    text-align: center;
   
    padding: 2rem;
    
}

.transform h1 {
    color: hsl(198, 62%, 26%);
     font-family: "Fraunces", serif;
}

.egg{
    display: grid;

}
.egg img{
    width: 100%;
}


/* code for responsiveness */
@media screen and (min-width:1024px) {
    .navLinks{
    list-style: none;
    display: flex;
    gap: 2rem;


}
.icon{
    display: none;
}
.egg{
    grid-template-columns: repeat(2,1fr);
}
.transform{
    order: 1;
}
.egg img{

order: 2;
}
}